html, body {
    margin:0;
    padding:0;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../patterns/skulls.png');
}

header {
  background-color: bisque;
}

footer {
  position: absolute;
  background-color: azure;
  width:100%;
  bottom: 0;
  left:0;
  margin:auto;
}

.footer{
   text-align: center;
}

main {
  overflow: hidden;
  margin:1em;
}

aside{
}

#content {
  background-color: bisque;

}



h1,h2 {
  text-align: center;
}

p {
  text-align: justify;
}

.social-media-icon {
  width:32px;
  height:32px;
  padding: 1em;

}

.reserve-btn {
  width: 32px;
  height:32px;
  padding: 1em;
}

.reserve-now-btn {

}

.reserve-now-text {

}

/* Phone Devices */
@media all and (min-width: 320px) and (max-width: 480px) {
  .brand-image {
    width: 100px;
  }

    .nav-container {

      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 0;

    }

  .nav-item {
    box-sizing: border-box;
    padding: 2em;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
  }

  .main-heading {

    flex: 1;
    text-align: center;
  }

  .lead {

    flex: 1;
    text-align: justify;

  }
}

/* High Res Desktops */
@media all and (min-width: 1281px) {

  header {
    width:100%;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  main {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
  }

  aside{
    list-style-type: none;
  }

  aside > ul {
    list-style-type: none;
  }

  aside > li {
    padding: 1em;
  }

  #content {
    padding: 2em;
  }

  #gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
  }

  .nav-item{
    padding: 1em;
    margin:0;
  }

  .brand-image {
    flex-grow: 1;
    height: auto;
    max-width: 100px;
    margin-top: 0;
  }

  .image {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .reserve-section {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
  }

}
/* Laptops and Desktops */
@media all and (min-width: 1025px) and (max-width: 1280px) {

  header {
    width:100%;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  aside{
    list-style-type: none;
  }

  aside > ul {
    list-style-type: none;
  }

  aside > li {
    padding: 1em;
  }

  #content {
    padding: 2em;
  }

  #gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;

  }

  .nav-item{
    padding: 1em;
    margin:0;
  }

  .brand-image {
    flex-grow: 1;
    height: auto;
    max-width: 100px;
    margin-top: 0;
  }

  .image {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .reserve-section {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
  }
}

/* Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {

}

/* Low Res Tablets */
@media all and (min-width: 481px) and (max-width: 767px) {
}
