{% extends "base.html" %}

{% block content %}

<span class="article">
  <h2 class="main-heading">What Makes Us Special</h2>
  <p class="lead">California Dreamin’ Hostel is a city hostel started and managed by fellow travelers. As globetrotters and cultural vacation junkies, we understand the needs and wants a youth hostel should provide. Come along with us as we are the ultimate travel guides. Want to drink? Follow us on a bar crawl. Want to see cultural icons? Take a walking tour of the city with us. Want some authentic mexican food? Join us on one of our hosted dinners curated by a local chef. We know what any visitor would love to see and we ourselves have a deep understanding need of feeding the hunger to explore. We truly are a place for travelers, made by travel enthusiasts.
 </p>
</span>

{% endblock %}
