<!Doctype html>
<html  lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Book a reservation with California Dreamin’ Hostel in Mexico’s Guadalajara. A top cultural tourism destination for any traveler. Have an authentic Mexican vacation in the heart of Jalisco - birthplace of Tequila!">
  <meta name="keywords" content=" mexico, jalisco, guadalajara, tequila, hostel, travel, tourism, passport, tours of, authentic mexican, airbnb, hostelworld, su casa, youth hostel, travel guide, destination, book, reservation, journey, traveler, cultural vacation">
  <meta name="author" content="Kyle Calica">
  <link rel="icon" href="{{  url_for('static',filename='img/Guadalajara_Cathedral_icon.png') }}">
  <title>Reserve A Stay!</title>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
  <body>
    <header>
      <nav>
        <span class="nav-item brand-image"><img class="brand-image" src="{{  url_for('static',filename='img/Guadalajara_Cathedral_icon.png') }}" alt="California Dreamin' Hostels" /></span>
          <ul class="reserve-section">
            <li class="reserve-now-btn"><a href="#"><img class="reserve-btn" src="{{ url_for('static',filename='icons/hostelworld.svg') }}" alt="hostelworld-icon" /></a></li>
            <li class="reserve-now-btn"><a href="#"><img class="reserve-btn" src="{{ url_for('static',filename='icons/airbnb.svg') }}" alt="airbnb-icon"/></a></li>
          </ul>
        <ul class="nav-container" role="navigation">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Reservations</a></li>
        </ul>
    </nav>
    </header>
      <main>
      <section id="content">
            <article>
              <header>
                <h2 class="main-heading">Reserve with Us!</h2>
              </header>
              <span class="lead">
                <p>Book a reservation for your stay in Mexico's second largest city, Guadalajara at California Dreamin’ Hostel. Enjoy the wonders of the Mexican state Jalisco. The birthplace of Tequila and a top cultural destination. Create a memorable stamp in any traveler’s passport. You don’t want to miss this on your journey. Me casa, su casa!<p>
                <p>We have two private rooms and a total of 15 beds. We have two on site shower facilities and a laundromat next door. An onsite cafe and bar with flat screen TVs and high speed internet.</p>              </span>
              <section id="gallery">
                  <figure>
                  <image class="image" src="{{ url_for('static',filename='img/Twin_Bed_Reservations.jpg') }}" alt="reserve twin beds"/>
                  <image class="image" src="{{ url_for('static',filename='img/Private_Room_Reservation.jpg') }}" alt="reserve private room"/>
                  <figcaption> Reserve one of our fabolous rooms </figcaption>
                </figure>
              </section>
            </article>
      </section>
      <aside>
        <ul id="social-media-aside">
          <li><img class="social-media-icon" src="{{ url_for('static',filename='icons/facebook.png') }}" alt="facebook-icon"/></li>
          <li><img class="social-media-icon" src="{{ url_for('static',filename='icons/instagram.png') }}" alt="instagram-icon"/></li>
          <li><img class="social-media-icon" src="{{ url_for('static',filename='icons/yelp.png') }}" alt="yelp-icon"/></li>
        </ul>
      </aside>
    </main>
  </body>
</html>
