<!Doctype html>
<html  lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="City hotel in the center of Guadalajara, Mexico. Only a few blocks away from the historic Guadalajara Cathedral. Tourist friendly destination in the heart of Mexico with available travel guides and year round visitors. Read our hostel reviews!  Me casa su casa.">
    <meta name="keywords" content=" mexico, jalisco, guadalajara, tequila, hostel, travel, tourism, passport, tours of, authentic mexican, airbnb, hostelworld, su casa, youth hostel, travel guide, destination, book, reservation, journey, traveler, cultural vacation">
    <meta name="author" content="Kyle Calica">

    <meta property="og:url"  content="http://calidreaminhostels.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Your Guadalajara Adventure Awaits" />
    <meta property="og:description" content="Reserve a stay in Guadalajara at our fine hostel" />
    <meta property="og:image"  content="{{  url_for('static',filename='img/Guadalajara_Cathedral_icon.png') }}" />

    <link rel="icon" href="{{  url_for('static',filename='img/Guadalajara_Cathedral_icon.png') }}">
    <title>Welcome to {{ company }}</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <span class="nav-item brand-image"><img class="brand-image" src="{{  url_for('static',filename='img/Guadalajara_Cathedral_icon.png') }}" alt="California Dreamin' Hostels" /></span>
        <ul class="nav-container" role="navigation">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Reservations</a></li>
        </ul>
        <ul class="reserve-section">
          <li class="reserve-now-btn"><a href="#"><figure><img class="reserve-btn" src="{{ url_for('static',filename='icons/hostelworld.svg') }}" alt="hostelworld-icon" /></figure></a></li>
          <li class="reserve-now-btn"><a href="#"><figure><img class="reserve-btn" src="{{ url_for('static',filename='icons/airbnb.svg') }}" alt="airbnb-icon"/></figure></a></li>
        </ul>
    </nav>
    </header>
      <main>
        <!-- <section class="call-to-action">
          <header class="call-to-action-text">
            <h2>Stay in Guadalajara!</h2>
          </header>
          <article class="lead">
            <p>Me casa es su casa. California Dreamin’ Hostel is the city hotel to stay at while you enjoy your trip in Guadalajara, the second largest city in Mexico. Be close to the tours of Guadalajara Cathedral and celebrate authentic Mexican traditions. A top tourism city in the heart of Mexico, visitors from all over the world come to the capital of Jalisco - home of Tequila and Chivas futbol team. Take a tequila tour - start with a good Blanco and end with a fine aged Anos. Enjoy a cultural celebration in the Guadalajara Cathedral courtyard. Every journey has a beginning and a destination, let California Dreamin’ be either one or a nice stop along the way.</p>
          </article>
        </section>
        </section>
        -->
      <section id="content">
            <article>
              <h2 class="main-heading">Why Stay at California Dreamin’ Hostel</h2>
              <span class="lead">
                <p>Me casa es su casa. California Dreamin’ Hostel is the city hotel to stay at while you enjoy your trip in Guadalajara, the second largest city in Mexico. Be close to the tours of Guadalajara Cathedral and celebrate authentic Mexican traditions. A top tourism city in the heart of Mexico, visitors from all over the world come to the capital of Jalisco - home of Tequila and Chivas futbol team. Take a tequila tour - start with a good Blanco and end with a fine aged Anos. Enjoy a cultural celebration in the Guadalajara Cathedral courtyard. Every journey has a beginning and a destination, let California Dreamin’ be either one or a nice stop along the way.</p>
              </span>
              <section id="gallery">
                <figure>
                  <image class="image" src="{{ url_for('static',filename='img/Guadalajara_Cathedral.jpg') }}" alt="Guadalajara Cathedral in the town center"/>
                  <figcaption><p>Guadalajara Cathedral in the town center</p></figcaption>
                </figure>
              </section>
            </article>
      </section>
      <aside>
        <ul id="social-media-aside">
          <li><a href="https://www.facebook.com/California-Dreamin-Hostels-387959781743072"><img class="social-media-icon" src="{{ url_for('static',filename='icons/facebook.png') }}" alt="facebook-icon"/></a></li>
          <li><img class="social-media-icon" src="{{ url_for('static',filename='icons/instagram.png') }}" alt="instagram-icon"/></li>
          <li><img class="social-media-icon" src="{{ url_for('static',filename='icons/yelp.png') }}" alt="yelp-icon"/></li>
        </ul>
      </aside>
    </main>
    <!-- <footer>
      <span class="footer"><p>Footer</p></span>
    </footer> -->
  </body>
</html>
